<!--The content below is only a placeholder and can be replaced.-->
<body bgcolor="coral">
<div>
  <h3>Filtrar por:
  <input type="text" ng-model="searchText"></h3>
</div>

  <table align="center">
  <tr>
    <td>Foto</td>
    <td>Marca</td>
    <td>Modelo</td>
    <td>Año</td>
    <td>En venta desde</td>
    <td>Precio</td>
    <td>PVP</td>
    <td>Acciones</td>
  </tr>

  <tr *ngFor="let id of coches">

    <td>{{id.foto}}</td>
    <td>{{id.marca |uppercase }} </td>
    <td>{{id.modelo | lowercase}}</td>
    <td>{{id.fecha_modelo | date:'yyyy'}}</td>
    <td>{{id.fecha_venta | date:'MM-yyyy'}}</td>
    <td>{{id.precio |number:'3.0-0'}}</td>
    <td>{{id.getPVP(coches[id]) |number:'3.0-0'}}</td>
    <td>  <button type='button' (click)='venderCoche(i)'>Vendido</button>
     <button type='button' (click)='rebajarCoche(i)'>Rebajar</button></td>


  </tr>
</table>

</body>
<!--Falta:
 cambiar la lista de coches con filtrados,
 añadir una clase en precio que dependa del estado,
 añadir "€" al final de los precios-->
